.item-container {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 2px;
}


.page-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.active {
    background-color: rgb(42, 255, 191);
}